dlvm_package: dlvm
dlvm_user: dlvm
dlvm_group: dlvm
dlvm_env_path: "/opt/dlvm_env"
dlvm_conf_path: "/etc/dlvm"
dlvm_log_path: "/var/log/dlvm"
dlvm_initiator_prefix: "iqn.2015-09.dlvm.initiator"
dlvm_target_prefix: "iqn.2015-09.dlvm.target"
dlvm_conf:
  initiator_prefix: iqn.2016-12.dlvm.initiator
  target_prefix: iqn.2016-12.dlvm.target
  iscsi_userid: dlvm_user
  iscsi_password: dlvm_password
  work_dir: /opt/dlvm_work_dir
  db_uri: postgresql://dlvm_db_user:dlvm_db_password@localhost/dlvm_db
  'broker_url': 'amqp://dlvm_monitor:dlvm_password@localhost:5672//dlvm_vhost'
  local_vg: dlvm_vg
  dpv_listener: '0.0.0.0'
  ihost_listener: '0.0.0.0'
  test_mode: false
gunicorn_access_file: "/var/log/dlvm/gunicorn_access.log"
gunicorn_workers: 10
gunicorn_port: 9521
gunicorn_bind: 127.0.0.1:{{gunicorn_port}}
dlvm_local_lvm: false
dlvm_all_in_one: false
