meta_vg: dlvm_meta
data_vg: dlvm_data
lvm_path: /sbin/lvm
dmsetup_path: /sbin/dmsetup
dpv_listener: 0.0.0.0
dpv_port: 9522
dlvm_prefix: dlvm_prefix
virtual_total: {{virtual_total}}
retry_interval: 300
