meta_vg: dlvm_meta
data_vg: dlvm_data
lvm_path: /sbin/lvm
dmsetup_path: /sbin/dmsetup
targetcli_path: /bin/targetcli
dpv_listener: 0.0.0.0
dpv_port: 9522
dlvm_prefix: dlvm_prefix
virtual_total: {{virtual_total}}
retry_interval: 300
pool_meta_size: 4M
block_sectors: 2048
target_prefix: {{target_prefix}}
initiator_prefix: {{initiator_prefix}}
iscsi_userid: {{iscsi_userid}}
iscsi_password: {{iscsi_password}}
