meta_vg: dlvm_meta
data_vg: dlvm_data
lvm_path: /sbin/lvm
dmsetup_path: /sbin/dmsetup
targetcli_path: /bin/targetcli
dd_path: /bin/dd
rm_path: /bin/rm
thin_dump_path: /sbin/thin_dump
iscsiadm_path: /sbin/iscsiadm
lsscsi_path: /bin/lsscsi
dpv_listener: 0.0.0.0
dpv_port: 9522
iscsi_port: 3260
dlvm_prefix: dlvm_prefix
retry_interval: 300
pool_meta_size: 4M
mirror_meta_size: 4M
mirror_region_sectors: 2048
block_sectors: 2048
target_prefix: {{target_prefix}}
initiator_prefix: {{initiator_prefix}}
iscsi_userid: {{iscsi_userid}}
iscsi_password: {{iscsi_password}}
low_water_mark_min: 1G
low_water_mark_max: 10G
low_water_mark_ratio: 10
