[Unit]
Description=dlvm_monitor daemon
After=network.target

[Service]
User={{dlvm_user}}
Group={{dlvm_group}}
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; dlvm_monitor"
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target

