[Unit]
Description=monitor daemon
After=network.target

[Service]
User={{dlvm_user}}
Group={{dlvm_group}}
Environment="DLVM_CONF={{dlvm_conf_path}}"
RuntimeDirectory=dlvm_monitor
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
          celery beat -A dlvm.worker:app \
          --workdir {{monitor_workdir}} \
          --logfile monitor.log \
          -l {{monitor_debug_level}}"
ExecStop=/bin/kill -s TERM $MAINPID
