[database]
db_uri = {{db_uri}}

[mq]
broker = {{mq_broker}}

[iscsi]
initiator_prefix = {{dlvm_initiator_prefix}}
iscsi_userid = {{iscsi_userid}}
iscsi_password = {{iscsi_password}}

[device_mapper]
local_vg = {{dlvm_local_vg}}
