{
    "version": 1,
    "formatters": {
        "simple": {
            "format": "%(asctime)s - %(levelname)s - %(req_id)s %(message)s"
        }
    },
    "handlers": {
        "api_handler": {
            "class": "dlvm.common.utils.PidWatchedFileHandler",
            "formatter": "simple",
            "filename": "{{dlvm_log_path}}/api_{pid}.log"
        },
        "dpv_handler": {
            "class": "logging.handlers.WatchedFileHandler",
            "formatter": "simple",
            "filename": "{{dlvm_log_path}}/dpv.log",
            "delay": true
        },
        "ihost_handler": {
            "class": "logging.handlers.WatchedFileHandler",
            "formatter": "simple",
            "filename": "{{dlvm_log_path}}/ihost.log",
            "delay": true
        },
        "sm_handler": {
            "class": "dlvm.common.utils.PidWatchedFileHandler",
            "formatter": "simple",
            "filename": "{{dlvm_log_path}}/sm_{pid}.log"
        },
        "monitor_handler": {
            "class": "dlvm.common.utils.PidWatchedFileHandler",
            "formatter": "simple",
            "filename": "{{dlvm_log_path}}/monitor_{pid}.log"
        }
    },
    "loggers": {
        "dlvm.api": {
            "level": "INFO",
            "handlers": ["api_handler"]
        },
        "dlvm.dpv": {
            "level": "INFO",
            "handlers": ["dpv_handler"]
        },
        "dlvm.ihost": {
            "level": "INFO",
            "handlers": ["ihost_handler"]
        },
        "dlvm.sm": {
            "level": "INFO",
            "propagate": false,
            "handlers": ["sm_handler"]
        },
        "dlvm.monitor": {
            "level": "INFO",
            "handlers": ["monitor_handler"]
        }
    }
}
