version: 1
formatters:
  simple:
    format: '%(asctime)s - %(levelname)s - %(message)s'
handlers:
  api_handler:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: simple
    filename: {{dlvm_log_path}}/api.log
    delay: True
    when: midnight
    interval: 1
    backupCount: 14
  dpv_handler:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: simple
    filename: {{dlvm_log_path}}/dpv.log
    delay: True
    when: midnight
    interval: 1
    backupCount: 14
  thost_handler:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: simple
    filename: {{dlvm_log_path}}/thost.log
    delay: True
    when: midnight
    interval: 1
    backupCount: 14
  monitor_handler:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: simple
    filename: {{dlvm_log_path}}/monitor.log
    delay: True
    when: midnight
    interval: 1
    backupCount: 14
loggers:
  dlvm_api:
    level: DEBUG
    handlers: [api_handler]
    propagate: yes
  dlvm_dpv:
    level: DEBUG
    handlers: [dpv_handler]
    propagate: yes
  dlvm_thost:
    level: DEBUG
    handlers: [thost_handler]
    propagate: yes
  dlvm_monitor:
    level: DEBUG
    handlers: [monitor_handler]
    propagate: yes

