host_listener: 0.0.0.0
host_port: 9523
mirror_retry_interval: 300
target_prefix: {{target_prefix}}
dlvm_prefix: dlvm_prefix
dmsetup_path: /sbin/dmsetup
iscsiadm_path: /sbin/iscsiadm
lsscsi_path: /bin/lsscsi
mirror_meta_size: 4M
mirror_region: 2048
stripe_chunk_sectors: 128
iscsi_port: {{iscsi_port}}
