version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  dpv_agent_handler:
    class: logging.handlers.RotatingFileHandler
    formatter: simple
    filename: /var/log/dlvm/dpv_agent.log
    maxBytes: 1048576
    backupCount: 3
  host_agent_handler:
    class: logging.handlers.RotatingFileHandler
    formatter: simple
    filename: /var/log/dlvm/dpv_host.log
    maxBytes: 1048576
    backupCount: 3
loggers:
  dlvm_dpv_agent:
    level: DEBUG
    handlers: [dpv_agent_handler]
    propagate: yes
  dlvm_host_agent:
    level: DEBUG
    handlers: [host_agent_handler]
    propagate: yes
