[Unit]
Description=celery daemon
After=network.target

[Service]
Type=forking
User={{dlvm_user}}
Group={{dlvm_group}}
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
          celery multi start {{celery_nodes}} \
          -A dlvm.worker:app --pidfile={{celery_pidfile}} \
          --logfile={{celery_logfile}} \
          --loglevel={{celery_loglevel}} \
          --concurrency={{celery_concurrency}} \
          --max-tasks-per-child={{celery_max_tasks_per_child}} \
          {{celery_opts}}"
ExecStop=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
         celery multi stopwait {{celery_nodes}} \
         --pidfile={{celery_pidfile}}"
ExecReload=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
           celery multi restart {{celery_nodes}} \
           -A dlvm.worker:app --pidfile={{celery_pidfile}} \
           --logfile={{celery_logfile}} \
           --loglevel={{celery_loglevel}} \
           --concurrency={{celery_concurrency}} \
           --max-tasks-per-child={{celery_max_tasks_per_child}} \
           {{celery_opts}}"

[Install]
WantedBy=multi-user.target
