[Unit]
Description=celery daemon
After=network.target

[Service]
Type=forking
User={{dlvm_user}}
Group={{dlvm_group}}
Environment="DLVM_CONF={{dlvm_conf_path}}"
RuntimeDirectory=dlvm_celery
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
          celery multi start 8 \
          --app=dlvm.worker:app --pidfile=/run/dlvm_celery/%%n.pid \
          --logfile={{celery_logfile}} \
          --loglevel={{celery_loglevel}} \
          --concurrency={{celery_concurrency}} \
          --queues={{celery_queue}} \
          --max-tasks-per-child={{celery_max_tasks_per_child}} \
          {{celery_opts}}"
ExecStop=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
         celery multi stopwait 8 \
         --pidfile=/var/run/dlvm/celery-%%n.pid"
ExecReload=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; \
           celery multi restart 8 \
           --app=dlvm.worker:app --pidfile=/var/run/dlvm/celery-%%n.pid \
           --logfile={{celery_logfile}} \
           --loglevel={{celery_loglevel}} \
           --concurrency={{celery_concurrency}} \
           --queues={{celery_queue}} \
           --max-tasks-per-child={{celery_max_tasks_per_child}} \
           {{celery_opts}}"

[Install]
WantedBy=multi-user.target
