[Unit]
Description=dlvm_host_agent daemon
After=network.target

[Service]
User=dlvm
Group=dlvm
ExecStart=/bin/bash -c "source /opt/dlvm_host_agent_env/bin/activate; dlvm_host_agent"
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
