[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile={{dlvm_run_path}}/gunicorn.pid
User={{dlvm_user}}
Group={{dlvm_group}}
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; gunicorn --pid {{dlvm_run_path}}/gunicorn.pid --access-logfile {{gunicorn_access_file}} --workers {{gunicorn_workers}} --bind {{gunicorn_bind}} dlvm.api_server:app"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
