[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{dlvm_user}}
Group={{dlvm_group}}
RuntimeDirectory=dlvm_gunicorn
ExecStart=/bin/bash -c "source {{dlvm_env_path}}/bin/activate; gunicorn \
          --pid /run/dlvm_gunicorn/gunicorn.pid --bind {{gunicorn_bind}} \
          --access-logfile {{gunicorn_access_logfile}} \
          --error-logfile {{gunicorn_error_logfile}} \
          --log-level {{gunicorn_log_level}} \
          {{gunicorn_capture_output}} \
          --workers {{gunicorn_workers}} --threads {{gunicorn_threads}} \
          --max-requests {{gunicorn_max_requests}} \
          --max-requests-jitter {{gunicorn_max_requests_jitter}} \
          --timeout {{gunicorn_timeout}} {{gunicorn_opts}} \
          dlvm.api_server:app"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
