[Unit]
Description=dlvm_dpv_agent daemon
After=network.target

[Service]
PIDFile=/run/dlvm_dpv_agent/pid
User=dlvm
Group=dlvm
ExecStart=/bin/bash -c "source /opt/dlvm_dpv_agent_env/bin/activate; dlvm_dpv_agent"
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
